<div class = "dashboardContainer container">
    <div class="row labelRow">
        <div class="col-lg-3 col-md-3 col-xs-3 entityColumn">
            Name
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
            Min price(rs.)
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
            Max price(rs.)
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
            Quantity
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 entityColumn">
            Mixer available
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
            <button type="button" class = "btn btn-success" name="button" ng-click = "saveChanges()">Save Changes</button>
        </div>
    </div>
    <div class="row categoryRow" ng-repeat = "categoryId in categories" ng-init = "categoryObj = categoriesHash[categoryId]">
        <div class="col-lg-12 col-md-12 col-xs-12 categoryLabel" ng-if = "categoryObj.state != 'deleted'">
            <div class="col-lg-6 col-md-6 col-xs-12 category">
                <input type = "text" placeholder="New category name" ng-model = "categoryObj.name" ng-change = "categoryModified(categoryId)">
                <span ng-bind = "'  (' +  (categoryObj.sub_category_ids.length || 0) + ')'"></span>
                <button type="button" name="button" class="btn btn-danger F-R remove" ng-click = "removeCategory(categoryId)">X</button>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 addCategory">
                <button type="button" name="button" class="btn btn-primary F-R add" ng-click = "addCategory(categoryId)">+</button>
                <input type = "text" placeholder="New category name" ng-model = "newCategoryObject[categoryId+'_new'].name" class = "F-R">
            </div>
        </div>

        <div class="col-lg-12 col-md-12">
            <div ng-if = "subCategoryObj.state != 'deleted'" class="row subCategoryRow" ng-repeat = "subCategoryId in categoryObj.sub_category_ids" ng-init = "subCategoryObj = subCategoriesHash[subCategoryId]" ng-show = "subCategoryObj.state != 'deleted'">
                <div class="col-lg-3 col-md-3 col-xs-3 entityColumn">
                    <input type = "text" placeholder="Drink name" ng-model = "subCategoryObj.name" ng-change = "subCategoryModified(categoryId, subCategoryId)">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
                    <input type = "number" placeholder="Min price" min="0" ng-model = "subCategoryObj.low" ng-change = "subCategoryModified(categoryId, subCategoryId)">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
                    <input type = "number" placeholder="Max price" min="0" ng-model = "subCategoryObj.high" ng-change = "subCategoryModified(categoryId, subCategoryId)">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
                    <input type = "number" placeholder="Quantity" min="0" ng-model = "subCategoryObj.quantity" ng-change = "subCategoryModified(categoryId, subCategoryId)">
                </div>
                <div class="col-lg-1 col-md-2 col-xs-1 entityColumn">
                    <input type="checkbox" ng-checked="subCategoryObj.mixer_available" aria-label="Mixer" ng-model = "subCategoryObj.mixer_available" ng-change = "subCategoryModified(categoryId, subCategoryId)">
                </div>
                <div class="col-lg-1 col-md-1 col-xs-1 entityColumn">
                    <button type="button" class = "btn btn-danger remove" name="button" ng-click = "deleteSubCategory(categoryId, subCategoryId)">X</button>
                </div>
            </div>
            <div class="row subCategoryRow newSubCategory">
                <div class="col-lg-3 col-md-3 col-xs-3 entityColumn">
                    <input type = "text" placeholder="New drink name" ng-model = "newSubCategoryObject[categoryId+'_new'].name">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
                    <input type = "number" placeholder="Min price" min="0" ng-model = "newSubCategoryObject[categoryId+'_new'].minPrice">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
                    <input type = "number" placeholder="Max price" min="0" ng-model = "newSubCategoryObject[categoryId+'_new'].maxPrice">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
                    <input type = "number" placeholder="Quantity" min="0" ng-model = "newSubCategoryObject[categoryId+'_new'].quantity">
                </div>
                <div class="col-lg-1 col-md-2 col-xs-1 entityColumn">
                    <input type="checkbox" ng-checked="newSubCategoryObject[categoryId+'_new'].mixer" ng-model = "newSubCategoryObject[categoryId+'_new'].mixer" aria-label="Mixer">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 entityColumn">
                    <button type="button" class = "btn btn-primary add" name="button" ng-click = "addSubCategory(categoryId)">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row categoryLabel M-T-0">
        <div class="col-lg-offset-6 col-lg-6 col-md-6 col-xs-12 addCategory">
            <button type="button" name="button" class="btn btn-primary F-R add" ng-click = "addCategory('', true)">+</button>
            <input type = "text" placeholder="New category name" ng-model = "newCategoryAtTheEnd.name" class = "F-R">
        </div>
    </div>
</div>
