<div class="frm">
    <ul class="">
      <li class="tab active">Bar Stock Exchange</li>
    </ul
    <div class="tab-content">
        <div id="login">
            <form ng-submit="processLogin()">
                <div class="field-wrap">
                    <input ng-model = "emailId" type="email" placeholder="Email Address" name="email" id="email"/>
                </div>
                <div class="field-wrap">
                    <input ng-model = "password" type="password" placeholder="Password" name="password" id="password"/>
                </div>
                <button class="button button-block cursor-pointer">Log In</button>
            </form>
        </div>
    </div>
</div>
